<br/><br/>

<div align="center">
    Enter Employee-Id: <input type="text" name="empId" [(ngModel)]="empId" /> <br/><br/>
    <button (click)="getEmployee()" class="btn btn-primary">Get Employee</button>
</div>

<br/><br/>

<div *ngIf="emp">

    
<table align="center" border="2">
    <thead>
        <tr>
            <th>EmpId</th>
            <th>EmpName</th>
            <th>Salary</th>
            <th>Gender</th>
            <th>DOJ</th>
            <th>Country</th>
            <th>EmailId</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>{{emp.empId  }}</td>
            <td>{{emp.empName}}</td>
            <td>{{emp.salary }}</td>
            <td>{{emp.gender }}</td>
            <td>{{emp.doj    }}</td>
            <td>{{emp.country}}</td>
            <td>{{emp.emailId}}</td>
        </tr>
    </tbody>
</table>
</div>

<div *ngIf="emp !== null; else notFound">
    
</div>

<ng-template #notFound>
    <div align="center">
        Employee Record Not Found!!!
    </div>
</ng-template>